{% extends "serveurs/app_base.html" %}
{% block content %}


{% load static %} 

<script type="text/javascript">
	window.onload = function () {
	var tableau=[      
        { y: {{top_10_vuln.data.9.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.9.id %}");}, label: "{{top_10_vuln.data.9.nom}}"},
        { y: {{top_10_vuln.data.8.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.8.id %}");}, label: "{{top_10_vuln.data.8.nom}}"},
        { y: {{top_10_vuln.data.7.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.7.id %}");}, label: "{{top_10_vuln.data.7.nom}}"},
        { y: {{top_10_vuln.data.6.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.6.id %}");}, label: "{{top_10_vuln.data.6.nom}}"},
        { y: {{top_10_vuln.data.5.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.5.id %}");}, label: "{{top_10_vuln.data.5.nom}}"},
        { y: {{top_10_vuln.data.4.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.4.id %}");}, label: "{{top_10_vuln.data.4.nom}}"},
        { y: {{top_10_vuln.data.3.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.3.id %}");}, label: "{{top_10_vuln.data.3.nom}}"},
        { y: {{top_10_vuln.data.2.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.2.id %}");}, label: "{{top_10_vuln.data.2.nom}}"},
	{ y: {{top_10_vuln.data.1.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.1.id %}");}, label: "{{top_10_vuln.data.1.nom}}"},
        { y: {{top_10_vuln.data.0.nb}}, click:function(e){window.open("{% url 'vulns:details' top_10_vuln.data.0.id %}");}, label: "{{top_10_vuln.data.0.nom}}"},

        ];

		var chart = new CanvasJS.Chart("chartContainer", {

			title:{
				text:"{{top_10_vuln.titre}}"				

			},
                        animationEnabled: true,
			axisX:{
				interval: 1,
				gridThickness: 0,
				labelFontSize: 12,
				labelFontStyle: "normal",
				labelFontWeight: "normal",
				labelFontFamily: "Lucida Sans Unicode"

			},
			axisY2:{
				interlacedColor: "rgba(1,77,101,.2)",
				gridColor: "rgba(1,77,101,.1)"

			},

			data: [
			{     
				type: "bar",
                name: "companies",
				axisYType: "secondary",
				color: "#014D65",				
				dataPoints: tableau
			}
			
			]
		});

chart.render();
}
</script>
 

<script type='text/javascript' src="{% static 'js/canvasjs.min.js' %}"></script>

 	<br><br><br>
	<div class="span10 offset1">
		<div id="chartContainer" style="height:500px;width:100%;"></div>
	</div>

{% endblock %}
