<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  {% load static %}
    <title>SOC Initialisation</title>
    <link   href="{% static 'css/soc.css' %}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<div class="container">
	<div class="span10 offset1">
    				<div class="row">
		    			<h3>Initialisation du Projet SOC réussi ;)</h3>
		    		</div>

    Félicitations, la phase d'initialisation du projet est presque terminée.<br>
    Pour valider les changements, il ne vous reste plus qu'à redémarrer le service Apache. <br>


    <br>
    <br>
    Bonne utilisation ;)


    </div>
</div>


</body>
</html>
