{% extends "serveurs/app_base.html" %}
{% block content %}
<div class="container">
	<div class="span10 offset1">
    				<div class="row">
		    			<h3>Paramètre du scan</h3>
		    		</div>

        {% if error_nessus.indisponible %}
            <script>
                alert("Impossible de joindre le serveur Nessus :(");
            </script>

        {% elif error_nessus.policy %}
            <script>
                alert("Aucune policy Nessus definie\nRendez vous sur l'interface WEB de Nessus pour en ajouter");
            </script>

        {%endif%}


		{% if ip == None %}
		<form class="form-horizontal" action="{% url 'scans:ajoutScanManuel' %}" method="post">
	
		{% else %}
		<form class="form-horizontal" action="{% url 'scans:ajoutScanManuel' ip %}" method="post">
		{% endif %}
	    		{% csrf_token %}
	    		{% for field in form %}
   			<div class="form-horizontal">
        		{{ field.label_tag }} {{ field }}

			    {% if field.errors %}
                    <FONT color="red"><strong>{{field.errors}}</FONT></strong><br>
                {%endif%}

        		{% if field.help_text %}
        		<p class="help">{{ field.help_text|safe }}</p>
       			 {% endif %}
   			</div>
			&nbsp;
			{% endfor %}
		<div class="form-actions">
			<input type="submit" class="btn btn-success" value='ajouter'>
		</div>
		</form>

</div>

<script type="text/javascript">
Selection();
</script>
</div>
{% endblock %}
