{% extends "serveurs/app_base.html" %}
{% block content %}
<div class="container">
	<div class="span10 offset1">
    				<div class="row">
		    			<h3>Ajout d'une nouvelle machine</h3>
		    		</div>

		<form class="form-horizontal" action="{% url 'serveurs:ajout'%}" method="post">
	    		{% csrf_token %}
	    		{% for field in form %}
   			<div class="form-horizontal">
        		{{ field.label_tag }} {{ field }}
			
			    {% if field.errors %}
                    <FONT color="red"><strong>{{field.errors}}</FONT></strong><br>
                {%endif%}

        		{% if field.help_text %}
        		<p class="help">{{ field.help_text|safe }}</p>
       			 {% endif %}
   			</div>
			{% endfor %}
		<div class="form-actions">
			<input type="submit" class="btn btn-success" value='ajouter'>
		</div>
		</form>

</div>
<script type="text/javascript">
Selection();
</script>
</div>
{% endblock %}
