{% extends "serveurs/app_base.html" %}
{% block content %}
<div class="container">
	<div class="span10 offset1">
    				<div class="row">
		    			<h3>Import de nouveaux hôtes à partir d'un fichier XML</h3>
		    		</div>

		<form class="form-horizontal" action="{% url 'serveurs:import'%}" method="post" enctype="multipart/form-data">
	    		{% csrf_token %}
	    		{% for field in form %}
   			<div class="form-horizontal">
        		{{ field.label_tag }} {{ field }}
			{{ field.errors }}
        		{% if field.help_text %}
        		<p class="help">{{ field.help_text|safe }}</p>
       			 {% endif %}
   			</div>
			{% endfor %}
		<div class="form-actions">
			<input type="submit" class="btn btn-success" value='importer'>
		</div>
		</form>

        {% if erreurs %}
            <h4><FONT color="red">Erreur d'importation</FONT></h4>
            {% for erreur in erreurs %}
                <FONT color="red">{{erreur.ip}} >> {{erreur.erreur}}</FONT><br>
            {% endfor %}
        {%endif%}
        

</div>
</div>
{% endblock %}
